
nav{
    background-color: #fcc5f6;
}

body{
    background-color: white;
}

.btn-primary {
    color: rgb(3, 3, 3);
    background-color: #fcc5f6;
    border-color: #fcc5f6;
}

.btn-primary :hover {
    color: #fa66e9;
}

.container-boton1{
    position: fixed;
    z-index: 999;
    padding-left: 30px;
    padding-bottom: 30px;
    bottom: 0%;
    transition: ease 0.3s;
}

.botton1 :hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.botton2 :hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.botton1{
    width: 100px;
    transition: ease 1s;
}
.botton2{
    width: 100px;
    transition: ease 1s;
}

h3{
    color: #ac0898;
}
.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
#prodetails{
    display: flex;
    margin-top: 20px;
    padding-left: 70px;
}
#prodetails .single-pro-image{
    width: 30%;
    margin-right: 10%;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 50%;
    padding: 5px;
    cursor: pointer;
}
#prodetails .single-pro-details{ 
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
} 
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
@media (max-width: 477px){
    #prodetails {
        display: flex;
        flex-direction: column;
    } 
    #prodetails .single-pro-image {
        width: 100%;
    }
    .h6, h6 {
        font-size: 2rem;
    }
    #prodetails .single-pro-details span {
        line-height: 20px;
    }
}

.footer {
    background-color: rgb(243, 156, 221);
    text-align: center;
    font-size: 0.9rem;
  }